* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: #ebc8cc;
  --transPink: rgba(235, 200, 204, 0.4);
  --celeste: #d0dfdd;
  --transCeleste: rgba(208, 223, 221, 0.4);
  --white: #ffffff;
  --black: #000000;
  --grey: #252525;
  --shadow: 5px 5px 15px 5px #000000;
  --btnWidth: 150px;
  --btnHeight: 50px;
}
body {
  font-family: "Montserrat";
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

/*Navbar Styling */
nav {
  width: 30vw;
  height: 45vh;
  position: fixed;
  top: 0;
  right: 0;
}

.navBtn {
  width: 3rem;
  height: 3rem;
  background: var(--transCeleste);
  color: rgba(0, 0, 0, 0.3);
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  box-shadow: var(--shadow);
  cursor: pointer;
}

.navList {
  width: 30vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  transform: translateY(-45vh);
  transition: all 1s ease-in;
}

.navList > li {
  background: var(--transCeleste);
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: all 1.5s ease-out;
  font-size: 1rem;
  cursor: pointer;
}

.navList > li:nth-child(-n + 4) {
  height: 10vh;
}

.navList > li:nth-child(5) {
  height: 5vh;
}
/*Animating the navbar*/
.navList.showNavList {
  box-shadow: var(--shadow);
  transform: translateY(0);
  transition: all 1s ease-out;
}

.navBtn.hideNavBtn {
  opacity: 0;
}
/*Landing Page*/
header {
  width: 100vw;
  height: 101vh;
  background-image: url(https://images.pexels.com/photos/399160/pexels-photo-399160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  z-index: -1;
}

.headerTitle,
.headerSubtitle, .sectionTitle {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  z-index: 1;
  text-transform: uppercase;
}

.headerTitle {
  font-size: 2.8rem;
  font-weight: 900;
  margin-top: 15vh;
}

.headerSubtitle {
  font-size: 2rem;
  font-weight: 700;
}

.titleLine {
  background: var(--celeste);
  width: 95vw;
  height: 4rem;
  /*negative margin should be around the middle of the title*/
  margin-top: -2rem;
  margin-bottom: -1.2rem;
}

.portfolioLink {
  width: var(--btnWidth);
  height: var(--btnHeight);
  border: white solid 4px;
  margin: 2rem;
  box-shadow: 2px 2px 50px 2px white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--celeste);
  text-transform: uppercase;
  font-size: 0.8rem;
}
/*main section contains portfolio, about me and footer*/
main {
background: linear-gradient(to bottom, #d0dfdd, hsl(355, 44%, 84%));
}

.portfolio, .aboutMe, .contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionTitle {
  font-size: 2.8rem;
  font-weight: 900;
  margin-top: 5vh;
}

.portfolioController {
  width: 90vw;
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prevBtn, .nxtBtn {
  width: 60px;
  height: 60px;
  box-shadow: var(--shadow);
  display: flex; 
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.portfolioGallery {
 width: 90vw;
 height: 60vh;
 background: white;
 box-shadow: inset 1px 1px 20px 4px rgba(0, 0, 0, 0.3);
 display: flex;
}

.galleryCard {
  width: 80vw;
  height: 50vh;
  box-shadow: 1px 1px 20px 5px var(--pink);
  margin: auto;
  display: flex;
  background: var(--grey);
}

.galleryCard > img {
  max-width: 100%;
  max-height: 40vh;
  object-fit: fill;
  margin: auto;
  display: block;
}

figcaption {
  color: white;
  text-align: center;
  padding: 1rem;
  height: 10vh;
  width: 90%;
  margin: auto;
  box-shadow: 3px 3px 10px 1px var(--celeste);
}
/*aboutMe*/

.aboutMeImg {

  width: 80vw;
  height: 80vw;
  background-image: url(./assets/image12.png);
  border-radius: 50% 50%;
  background-position: 40% 25%;
}

.aboutMeContent 



/*for desktop*/

 .navList > li:hover {
  background: var(--pink);
  transition: all 1.5s ease-out;
  font-size: 1.2rem;
}
