* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --lightpink: #ffddd2;
  --transPink: rgba(255, 221, 210, 0.9);
  --celeste: #edf6f9;
  --green: #87b9b2;
  --darkGreen: #007b5f;
  --transCeleste: rgba(237, 246, 249, 0.9);
  --white: #ffffff;
  --black: #000000;
  --grey: #252525;
  --shadow: 5px 5px 15px 5px #000000;
  --textShadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  --btnWidth: 150px;
  --btnHeight: 50px;
}
body {
  font-family: "Montserrat";
}
a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 1em;
}


/*Navbar Styling */
nav {
  width: 100vw;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.navList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
}
.navList > li {
  background: var(--transCeleste);
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: all 1.5s ease-out;
  font-size: 1rem;
  cursor: pointer;
}

/*Animating the navbar*/
.navList.showNavList {
  box-shadow: var(--shadow);
  transform: translateY(0);
  transition: all 1s ease-out;
}
.navBtn.hideNavBtn {
  opacity: 0;
}

/*Landing Page*/
header {
  width: 100vw;
  height: 90vh;
  background-image: url(./assets/landing.jpeg);
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  z-index: -1;
}
.headerTitle,
.headerSubtitle,
.sectionTitle {
  color: white;
  text-shadow: var(--textShadow);
  z-index: 1;
  text-transform: uppercase;
}
.headerTitle {
  font-size: 2.8rem;
  font-weight: 900;
  margin-top: 15vh;
}
.headerSubtitle {
  font-size: 2rem;
  font-weight: 700;
}
.titleLine {
  width: 95vw;
  height: 4rem;
  /*negative margin should be around the middle of the title*/
  margin-top: -2.8rem;
  margin-bottom: -0.8rem;
  position: relative;
  /* border: red 1px solid; */
}
.btn {
  width: var(--btnWidth);
  height: var(--btnHeight);
  border: white solid 4px;
  box-shadow: 2px 2px 50px 2px white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--celeste);
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 50px;
}


/*main section contains portfolio, about me and footer*/
.portfolio {
  background: var(--lightpink);
  margin-top: -2px;
}
.portfolio,
.aboutMe {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
/*sectionTitles must have 3rem at least bc of navBtn*/
.sectionTitle {
  font-size: 2.8rem;
  font-weight: 900;
  margin-top: 10px;
}
.portfolioController {
  width: 90vw;
  margin: 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.prevBtn,
.nxtBtn {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  z-index: 1000;
}

.fas, .fab {
  color: white;
  text-shadow: var(--textShadow);
  font-size: 50px;
}
.portfolioGallery {
  width: 90vw;
  height: 60vh;
  
}
.galleryCard {
  width: 100%;
  height: 100%;
  margin: auto;
  background: var(-lightpink);
  position: relative;
 
}
.galleryCard > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
figcaption {
  background: var(--transPink);
  text-align: center;
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 25px;
}

figcaption > a {
  padding: 5px;
}

/*aboutMe*/
.aboutMe {
  background: var(--celeste);
  margin-top: -2px;
}
.aboutMeImg {
  width: 60vw;
  height: 60vw;
  background-image: url(./assets/image12.png);
  border-radius: 50% 50%;
  background-position: 40% 25%;
  background-size: cover;
  margin-top: 4vh;
}
.aboutMeContent {
  width: 90%;
  margin: 4vh auto 0 auto;
  position: relative;
  font-size: 11px;
}
.fa-quote-right {
  position: absolute;
  top: -50px;
  left: 0;
}
.fa-quote-left {
  position: absolute;
  bottom: -50px;
  right: 0;
}
.skills {
  background: var(--green);
  height: 100vh;
}
.skills,
#contact {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skillsLink {
  position: absolute;
  bottom: 25px;
  left: calc(50% - (var(--btnWidth) / 2));
  background: var(--green);
  border: white solid 4px;

  box-shadow: 2px 2px 50px 2px var(--green);
}
.skillsContainer {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 4vh;
}
.skillsIcon {
  height: 60px;
  color: white;
  font-size: 50px;
  margin: 15px;
  stroke: black;
  stroke-width: 0.5px;
}
.mysql {
  font-size: 80px;
  stroke-width: 0.4px;
}

/*contact footer*/

footer {
  background: var(--darkGreen);
  margin-top: -2px;
}
.contactContainer {
  width: 80vw;
  background: var(--celeste);
  box-shadow: 3px 3px 10px 1px var(--celeste);
  margin: 50px;
}
.contactContainer > i {
  margin: 20px 0 0 20px;
  font-size: 20px;
}
.contactDetail {
  margin-left: 20px;
  font-weight: 200;
}
.address {
  text-align: center;
}

/*bigger sized handys*/

@media (min-width: 350px) {
.headerTitle {
  font-size: 3.1rem;
}
.btn{
  margin-top: 75px;
}
}
/*desktop design*/
@media (min-width: 1200px) {
  /*hidden stuff*/
  .navBtn,
  .navCloseBtn {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  nav {
    width: 100vw;
    height: 5vh;
    position: fixed;
    left: 0;
    box-shadow: var(--shadow);
    background: linear-gradient(to bottom, var(--pink), var(--celeste));
    opacity: 0.9;
  }

  .navList {
    width: 100%;
    height: 5vh;
    flex-direction: row;
    transform: translateY(0);
    left: 0;
  }

  .navList > li {
    background: transparent;
  }
  .navList > li:hover {
    opacity: 1;
    font-weight: 900;
    font-size: 1.5rem;
    text-shadow: var(--textShadow);
    color: white;
    box-shadow: inset 1px 1px 2px 1px black;
    transition: all 0.7s ease-in;
  }

  .titleLine {
    width: 50vw;
  }
}

.map {
  width: 100vw;
  height: 100vh;
}
